<footer class="site-footer h-card">
    <div class="wrapper">
        <h2 class="footer-heading">Jordan's Blog</h2>
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li class="p-name">Jordan</li>
                </ul>
            </div>
            <div class="footer-col footer-col-2">
                <ul class="social-media-list">
                    <!-- Add your social media links here -->
                    <li><a href="https://app.hackthebox.com/profile/1283370" target="_blank"><i class="fab fa-hackerrank"></i></a></li>
                    <li><a href="https://github.com/jordan01236" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/jordan01236/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="footer-col footer-col-3">
                <p></p>
            </div>
        </div>
    </div>
</footer>
