/* codeblock stlyes */
.highlighter-rogue > .highlight {
  background-color: #22272e;
}

.highlighter-rouge pre {
  background: #22272e !important;
}

.highlighter-rouge code {
  background-color: #22272e;
  color: #e6e6e6;
}

div .highlight {
  border: 1px solid white;
  border-radius: 5px;
}

.highlighter-rouge .ne,
.highlighter-rouge .nf {
  color: #ff6666bb;
}

.highlighter-rouge .s,
.highlighter-rouge .se,
.highlighter-rouge .s1,
.highlighter-rouge .s2,
.highlighter-rouge .si {
  color: #e46;
}

.highlighter-rouge .mi,
.highlighter-rouge .nb {
  color: #3cc;
}

.highlighter-rouge .nt,
.highlighter-rouge .nn {
  color: #77f;
}

.highlighter-rouge .err {
  background-color: unset;
}

/* console last to override default codeblocks */
.language-peda:before,
.language-console:before {
  content: "";
  width: 10px;
  height: 10px;
  margin: -20px 0 0 5px;
  border-radius: 5px;
  background:  #f25d2b;
  box-shadow: 0 0 0 1px #595953, 15px 0 #7d7871, 15px 0 0 1px #595953, 30px 0 #7d7871, 30px 0 0 1px #595953;
  position: absolute;
}

.language-peda,
.language-console {
  padding: 26px 0px 0px;
  border-radius: 5px;

  /* last one defines what's below the bar - eef is original */
  background: linear-gradient(#504b45, #3c3b37 20px, #3c3b37 20px, #3c3b37 21px, #380428 21px);
  box-shadow: 0 0 0 1px rgba(0,0,0,0.25);
}

.language-peda > div.highlight,
.language-peda pre,
.language-peda code,
.language-console > div.highlight,
.language-console pre,
.language-console code {
  border: none;
  background-color: #380428 !important;
  color: #ffd;
}

.language-console.windows-console {
  padding: 26px 0px 0px;
  border-radius: 5px;

  /* last one defines what's below the bar - eef is original */
  background: linear-gradient(#504b45, #3c3b37 20px, #3c3b37 20px, #3c3b37 21px, #012456 21px);
  box-shadow: 0 0 0 1px rgba(0,0,0,0.25);
}

.language-console.windows-console pre,
.language-console.windows-console code {
  background-color: #012456 !important;
  color: #fff;
}

.language-console .gp {
  color: #8d4;
}

.language-console .nt {
  color: #99f;
}

.language-console .go {
  color: #fff;
}

.language-console .highlight {
  border: none;
}

.language-console .s,
.language-console .s2,
.language-console .nn {
  color: #2ad;
}

